<section class="my-4">
<h1 class="text-center">About US</h1>
<p class="text-center hanaleiFont fs-5">Established in 2022, Noodles World's goal is to bring the worlds' noodles to Vancouverites. We believe the love of noodles is borderless. It does not matter where, or what culture you are from, our love of noodles is the same. All our noodles dishes are fresh, and hand-made by our world renouned chef daily. </p>
</section>