<nav class="sticky-top navbar bg-light d-flex flex-row px-4">
  <a class="navbar-brand fs-4 lh-1 d-flex flex-row justify-content-start text-wrap" href="/">Sam's <br>Pizzaria</a>
  <div class="d-flex flex-column justify-content-end">
    <a class="text-center btn btn-warning hanaleiFont me-5" href="/track">Order Tracker</a>
    <a href="/cart" type="button" class="btn btn-warning position-absolute mx-3" style="right:0">
      <i class="fa-solid fa-cart-shopping"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        <div id="cart_items_count">0</div>
        <span class="visually-hidden">cart_items_count</span>
      </span>
    </a>
  </div>
</nav>