<div class="textContainer">
    <div class="imageOverlay d-flex flex-column justify-content-center">
        <h1 class="text-center text-white">From noodles lover, <br>to noodles lovers.</h1>
    </div>
</div>