<section class="d-flex flex-column align-items-center">
    <h1 class="text-center">Track your order</h1>
    <a class="text-center btn btn-warning hanaleiFont" style="width: 200px;" href="/track">Order Tracker</a>
</section>
