<div id="trackFormContainer" class="d-flex flex-column justify-content-center align-items-center">
    <h1>Track your order</h1>
    <form id='trackForm' style="width:300px">
        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="trackPhoneNumberField" pattern="[0-9]{10}" maxlength="10" pattern="\d{10}">
        </div>
        <button type="submit" id="trackOrderBtn" class="btn btn-warning hanaleiFont fs-5">Track your order</button>
    </form>
    <section id="trackResults"></section>
</div>