html{
    min-width: 320px;
}
.textContainer {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
}

.imageOverlay {
    height: 500px;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0,1), rgba(0,0,0,0.3));
}

.card{
    width: 300px;
    margin: 8px;
    border-style: none;
}
.card-img-top{
    height: 200px;
    object-fit: cover;
    border-top-width: 8px;
}
.card-body{
    padding-top: 8px;
}

.navbar-brand{
    font-family: 'Hanalei Fill', cursive;
}

h1{
    font-size: 50px;
    font-family: 'Hanalei Fill', cursive;
}

.hanaleiFont {
    font-family: 'Hanalei Fill';
}

.sticky-bottom{
    bottom: 16px;
}